/LazarilloTormes/nbproject/private/
/LazarilloTormes/build/
/TrabajoDI/build/
/TrabajoDI/dist/
/TrabajoDI/nbproject/private/
/LazarilloTormes/dist/
/Fichi/nbproject/private/
/CreacionVistas/nbproject/private/
/CreacionVistas/build/
/CreacionVistas/dist/
/VistaLazarillo/nbproject/private/
/VistaLazarillo/build/
LazarilloTormes/estadisticas.txt
